#
# This file was put here by workout-file2, to test variable names in
# ubos-manifest.json files. It should not get in the way of Apache
# running, but if you see this while you aren't running test workout-file2,
# your test failed or didn't end cleanly.
#
# You can safely remove this file.
#
