apache2.appconfigfragmentdir            ${apache2.appconfigfragmentdir}            \${apache2.appconfigfragmentdir}
apache2.gname                           ${apache2.gname}                           \${apache2.gname}
apache2.sitefragmentdir                 ${apache2.sitefragmentdir}                 \${apache2.sitefragmentdir}
apache2.sitesdir                        ${apache2.sitesdir}                        \${apache2.sitesdir}
apache2.ssldir                          ${apache2.ssldir}                          \${apache2.ssldir}
apache2.uname                           ${apache2.uname}                           \${apache2.uname}
appconfig.apache2.appconfigfragmentfile ${appconfig.apache2.appconfigfragmentfile} \${appconfig.apache2.appconfigfragmentfile}
appconfig.apache2.dir                   ${appconfig.apache2.dir}                   \${appconfig.apache2.dir}
appconfig.appconfigid                   ${appconfig.appconfigid}                   \${appconfig.appconfigid}
appconfig.context                       ${appconfig.context}                       \${appconfig.context}
appconfig.contextnoslashorroot          ${appconfig.contextnoslashorroot}          \${appconfig.contextnoslashorroot}
appconfig.contextorslash                ${appconfig.contextorslash}                \${appconfig.contextorslash}
appconfig.cronjobfile                   ${appconfig.cronjobfile}                   \${appconfig.cronjobfile}
appconfig.datadir                       ${appconfig.datadir}                       \${appconfig.datadir}
host.tmpdir                             ${host.tmpdir}                             \${host.tmpdir}
hostname                                ${hostname}                                \${hostname}
now.tstamp                              ${now.tstamp}                              \${now.tstamp}
now.unixtime                            ${now.unixtime}                            \${now.unixtime}
package.codedir                         ${package.codedir}                         \${package.codedir}
package.datadir                         ${package.datadir}                         \${package.datadir}
package.manifestdir                     ${package.manifestdir}                     \${package.manifestdir}
package.name                            ${package.name}                            \${package.name}
site.admin.credential                   ${site.admin.credential}                   \${site.admin.credential}
site.admin.email                        ${site.admin.email}                        \${site.admin.email}
site.admin.userid                       ${site.admin.userid}                       \${site.admin.userid}
site.admin.username                     ${site.admin.username}                     \${site.admin.username}
site.apache2.authgroupfile              ${site.apache2.authgroupfile}              \${site.apache2.authgroupfile}
site.apache2.htdigestauthuserfile       ${site.apache2.htdigestauthuserfile}       \${site.apache2.htdigestauthuserfile}
site.apache2.sitedocumentdir            ${site.apache2.sitedocumentdir}            \${site.apache2.sitedocumentdir}
site.apache2.sitefragmentfile           ${site.apache2.sitefragmentfile}           \${site.apache2.sitefragmentfile}
site.hostname                           ${site.hostname}                           \${site.hostname}
site.protocol                           ${site.protocol}                           \${site.protocol}
site.siteid                             ${site.siteid}                             \${site.siteid}
