#
# Read in by the test
#

$dbHost              = '${appconfig.mysql.dbhost.valuabletemplate}';
$dbName              = '${appconfig.mysql.dbname.valuabletemplate}';
$dbPort              = '${appconfig.mysql.dbport.valuabletemplate}';
$dbUserLid           = '${appconfig.mysql.dbuser.valuabletemplate}';
$dbUserLidCredential = '${appconfig.mysql.dbusercredential.valuabletemplate}';

1;
