#
# Read in by the test
#

$dbHost              = '${appconfig.mysql.dbhost.foo}';
$dbName              = '${appconfig.mysql.dbname.foo}';
$dbPort              = '${appconfig.mysql.dbport.foo}';
$dbUserLid           = '${appconfig.mysql.dbuser.foo}';
$dbUserLidCredential = '${appconfig.mysql.dbusercredential.foo}';

1;
