#
# Read in by the test
#

print "In db\n";

$dbHost              = '${appconfig.mysql.dbhost.foo}';
$dbName              = '${appconfig.mysql.dbname.foo}';
$dbPort              = '${appconfig.mysql.dbport.foo}';
$dbUserLid           = '${appconfig.mysql.dbuser.foo}';
$dbUserLidCredential = '${appconfig.mysql.dbusercredential.foo}';

print "Now dbHost is $dbHost\n";

1;
